@charset "UTF-8";

		#header {
			padding-top: 15px;
			height: 15%;
			display: block;
			padding-bottom: 15px;
			
		}

		#search-section {
			display: inline-block;
			vertical-align: bottom;
			height: 70px;
			width: 75%;
		}
		
		#button-table {
			width: 100%;
			height: 100%;
		}
		
		#logo {
			display: inline-block;
			width: 10%;
		}
		
		#profilePic {
			display: inline-block;
			width: 5%;
		}
		
		
        #search-field {
        	
        	height: 20px;
        	width: 30%;
        	margin-left: 10%;
        }
        
        #mag-glass {
        	height: 15px;
        	
        }
        #submit-button {
        	margin-left: 2%;
        	margin-right: 5%;
        	border:1px solid #b7b7b7; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 20px 5px 20px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 			background-color: #d3d3d3; background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
        }
        
        #button-table-wrapper {
        	display: inline-block;
        	width: 40%;
        	height: 50px;
        }